.content-box {
    overflow: hidden;
}

#wrapper {
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
.lnk-back-holder {
    padding: 10px;
}
#sidebar-wrapper {
    z-index: 2;
    position: absolute;
    left: 0;
    height: 100vh;
    margin-left: -100%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    background: #fefefe;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
}
.toggled #sidebar-wrapper {
    left: 100%;
    width: 100%;
}

#page-content-wrapper {
    width: 100%;
    position: absolute;
    padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
    position: absolute;
    margin-right: -250px;
}

/* Sidebar Styles */

.sidebar-nav {
    margin: 0;
    padding: 0;
    list-style: none;
    display: none;
}
.toggled .sidebar-nav {
    display: block;
}

#menu-toggle {
    display: none;
    width: 50px;
    padding: 8px 4px;
    margin-top: 5px;
}
#menu-toggle span {
    display: block;
    height: 3px;
    margin-top: 6px;
    background: #474747;
}
#menu-toggle span:first-child {
    margin-top: 0;
}
/*#menu-toggle1 {
    margin: 0;    
    display:none;
}*/

.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #020280;
    text-transform: capitalize;
}

    .sidebar-nav li a:hover {
        text-decoration: underline;
        color: #020280;
    }

    .sidebar-nav li a:active,
    .sidebar-nav li a:focus {
        text-decoration: none;
    }

.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}

    .sidebar-nav > .sidebar-brand a {
        color: #999999;
    }

        .sidebar-nav > .sidebar-brand a:hover {
            color: #fff;
            background: none;
        }
.nav-btn-holder {
    padding: 5px 8px;
}
.btn-instance {
    text-align: center;
    display: block;
    border: 1px solid #474747;
    border-radius: 4px;
    box-shadow: 0 0 2px rgba(0,0,0,0.1);
    padding: 6px;
    background: #fefefe;
    text-decoration: none;
}
.btn-instance:focus,
.btn-instance:hover {
    text-decoration: none;
}
@media(min-width:768px) {
    .nav-btn-holder {
        display: none;
    }
    .lnk-back-holder {
        display: none;
    }
    #wrapper {
        padding-left: 60px;
    }

    #wrapper.toggled {
        padding-left: 250px;
    }
    #menu-toggle {
        display: block;
    }
    #sidebar-wrapper {
        position: relative;
        background: #fff;
        width: 50px;
        left: 0;
        margin-left: -50px;
        box-shadow: none;
        float: left;
    }

    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
        margin-left: -240px;
        left: 0;
    }

    #page-content-wrapper {
        padding: 20px;
        position: relative;
    }

    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
    }
}
